@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    border-radius: 20px;
    width: 300px;
    padding: 30px;
    border: 2px solid orangered;
}
